@import url(https://fonts.googleapis.com/css?family=Asap:700,400italic);
.curse {
  font-family: 'Asap', sans-serif;
    font-weight: 700px;
  text-align: center;
  margin: 1%;
}

.italic {
  font-family: 'Asap', sans-serif;
    font-weight: 400italic;
}
#viz {
	border: 5px solid lightgray;
	margin-left:12%;
			}
.circle:hover {
  background-color: orangered ;
}
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.d3-tip  {
  line-height: 1;
  font-weight: bold;
  padding: 15px;
  background:rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



